
<h2>Notificações Enviadas!</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr /> 
        <p>Não se preocupe! O SGTCC verificou se há um período de submissão de arquivos e/ou de agendamento de defesas vigente e, em caso afirmativo, notificou apenas os alunos com pendências. </p>
        <p>Alunos com defesas agendadas para os próximos 5 dias também receberam um lembrete. </p>

        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
