
@{
    ViewBag.Title = "Notificar";
}

<h2>Notificações Enviadas!</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notificar Alunos</h4>
        <hr />
        <p>Não se preocupe! O SGTCC verificou se há um período de submissão de arquivos e/ou de agendamento de defesas vigente e, em caso afirmativo, notificou apenas os alunos com pendências. </p>

        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
