@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>O SGTCC é um sistema que visa a automação dos processos de gestão de trabalhos de conclusão de curso no Centro Federal de Educação Tecnológica de Minas Gerais.</p>
