@{
    ViewBag.Title = "Professor Page";
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
    if (HttpContext.Current.Session["UserId"] == null)
    {
        Response.Redirect("~/");
    }
}

<div class="jumbotron">
    <h1>SGTCC</h1>
    <p class="lead">Sistema de Gerenciamento de TCCs. Index do Professor</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Sobre o Sistema &raquo;</a></p>
</div>
